<article class="post">

    <div class="post__image-wrap">
        <div class="post__image" style="background-image: url({{ post.featured_image | relative_url }})"></div>
    </div>

    <div class="post__content-wrap">
        <div class="post__content">
            <h2 class="post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
            <p class="post__subtitle">{{ post.subtitle }}</p>
            <p class="post__description">{{ post.description }}</p>
            
            <footer class="post-card-footer">
                <a href="{{ post.url | relative_url }}" class="static-avatar">
                    <img class="author-profile-image" src="//www.gravatar.com/avatar/f38060fa57249412b93640e7fc8efac7?s=250&amp;d=mm&amp;r=x" alt="Kerry Hatcher">
                </a>
                <div class="post-card-byline-content">
                    <span><a href="{{ post.url | relative_url }}">Kerry Hatcher</a></span>
                    <span class="post-card-byline-date"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time> 

                </div>
                
            </footer>
        </div>
    </div>

</article>



