{% for post in site.posts %}
<article class="post">
    <div class="post_header">
        <h3 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <div class="post_sub"><i class="fa-time"></i> {{ post.date | date: "%b %-d, %Y" }} <a href="{{ post.url | prepend: site.baseurl }}"><i class="fa-comments-alt"></i></a> </div>
    </div>
    <div class="post_content">
        <!--<figure><a href="{{ post.url | prepend: site.baseurl }}"><img alt="0" src="images/portfolio/p4.jpg"></a></figure>-->
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read More</a> </div>
</article>
{% endfor %}